/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --yellow:rgba(255, 251, 99, 0.7);
  --gray:#383838;
  --light-gray:#5B5555;
  --very-dark-gray:#151514;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0px;
  padding: 2.5% 3.25%;
  overflow: hidden;
}

label {
  color: var(--light-gray);
  font-size: 35px;
  font-weight: 700;
}

input {
  color: var(--light-gray);
  background-color: transparent;
  font-size: 30px;
  border: none;
  border-bottom: 1px solid var(--very-dark-gray);
  line-height: 35px;
  margin-bottom: 45px;
}


.main-container {
  z-index: 1;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100px;
}

.header-logo {
  float: left;
  margin: 0px;
  width: auto;
  height: inherit;
}

.header-nav {
  float: right;
}

.header-nav li {
  display: inline;
  margin-right: 150px;
}

.header-link {
  list-style-type: none;
}

.header-link a {
  text-decoration: none;
  color: var(--gray);
  font-weight: 700;
  font-size: 35px;
}

.header-link a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.signup-container {
  width: 572px;
  z-index: 5;
  height: auto;
  margin-top: 119px;
}

.input-email {
  width: 338px;
}


.input-password {
  width: 462px;
}

.signup-form-btn {
  display: block;
  margin: 0px auto;
  background: rgba(255, 251, 99, 0.7);
  border: none;
  -webkit-box-shadow: 0px 12px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 12px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px 0px;
  color: var(--light-gray);
  font-size: 35px;
  padding: 18px 82px;
}

.signup-form-btn:hover {
  cursor: pointer;
  border: 1px var(--very-dark-gray) solid;
}

.ellipse-bottom {
  z-index: -1;
  width: 125%;
  height: 17.875%;
  position: absolute;
  bottom: 0%;
  left: -11.5%;
}

.ellipse-right-top {
  z-index: -1;
  width: 65.67%;
  height: 113.25%;
  position: absolute;
  top: -25%;
  right: -12.5%;
}

.ellipse-right-bottom {
  z-index: -1;
  width: 41%;
  height: 41%;
  position: absolute;
  right: -10.625%;
  bottom: -7.08%;
}

.logo-welcome {
  z-index: 0;
  position: absolute;
  width: 37.5%;
  top: 15.625%;
  right: 4.167%;
}

.ellipse-bl-smallview {
  display: none;
}

.ellipse-br-smallview {
  display: none;
}

@media only screen and (min-width:1350px) {
  .logo-welcome {
    width: 480px;
  }

}

@media only screen and (min-width:2500px) {

  label {
    font-size: 4.375em;
  }

  input {
    font-size: 3.75em;
    margin-bottom: 5.625%;
    border-bottom: 5px solid var(--very-dark-gray);
  }

  .header {
    height: 12.5%;
  }
  .header-logo {
    width: 20.4167%;
    height: auto;
  }
  .header-nav li {
    margin-right: 20vh;
  }

  .header-link a {
    font-size: 4.375em;
  }
  .logo-welcome {
    width: 37.5%;
  }

  .input-email {
    width: 50%;
  }

  .input-password {
    width: 50%;
  }

  .signup-container {
    width: 50%;
    height: auto;
    margin-top: 14.875%;
  }

  .signup-form-btn {
    font-size: 4.375em;
    padding: 2.25% 6.83%;
  }
  .signup-form-btn:hover {
    border: 5px var(--very-dark-gray) solid;
  }
}

@media only screen and (max-width:1100px) {

  label {
    font-size: 26px;
  }

  input {
    font-size: 22px;
    margin-bottom: 5.625%;
  }

  .input-email {
    width: 270px;
  }


  .input-password {
    width: 350px;
  }

  .header-nav li {
    margin-right: 10vh;
  }

  .header-link a {
    font-size: 26px;
  }

  .signup-form-btn {
    font-size: 26px;
    padding: 2.25% 6.83%;
  }

  .ellipse-bottom {
    height: 40.875%;
  }

  .ellipse-right-bottom {
    width: 54%;
    height: 54%;
    bottom: -2.08%;
  }

}

@media only screen and (max-width:860px) {

  label {
    margin-left: 21px;
    font-size: 20px;
  }

  input {
    margin-left: 21px;
    font-size: 20px;
  }

  body {
    padding-top: 0px;
    padding-left: 0px;
  }

  .main-container {
    overflow: hidden;
  }

  .header {
    flex-flow: column;
    align-items: stretch;
    background: #FFFB63;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 0px 225px;
  }

  .header-nav {
    position: absolute;
    top: 98px;
    right: 0px;
    width: 50.52%;
    background: #FFFFFF;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 0px 225px;
  }

  .header-nav ul {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-around;
  }

  .header-logo {
    position: relative;
    top: -50px;
    height: 200px;
    margin: 0px auto 0px auto;
  }


  .header-nav li {
    margin-right: unset;
  }

  .header-link a {
    font-size: 15px;
  }

  .signup-container {
    width: auto;
    height: auto;
    margin-top: 119px;
  }

  .input-email {
    width: 270px;
  }


  .input-password {
    width: 350px;
    margin-bottom: 40px;
  }

  .signup-form-btn {
    font-size: 14px;
    padding: 8px 38px;
  }

  .logo-welcome {
    position: absolute;
    bottom: 50px;
    top: unset;
    left: 0px;
    right: 0px;
    width: 230px;
    margin: 60px auto 0px auto;
  }
  .ellipse-bottom {
    display: none;
  }

  .ellipse-right-top {
    display: none;
  }

  .ellipse-right-bottom {
    display: none;
  }

  .ellipse-bl-smallview {
    display: block;
    z-index: -1;
    width: 154.6%;
    height: 70.15%;
    position: absolute;
    top: 54.39%;
    left: -51.29%;
  }

  .ellipse-br-smallview {
    display: block;
    z-index: -1;
    width: 269.24%;
    height: 115.9%;
    position: absolute;
    top: 58.30%;
    right: 0%;
  }


}

@media only screen and (max-height:720px){
  .logo-welcome {
    bottom: 0px;
  }
}
